
body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.ticker {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-top: 40px;
    
}
.price-time {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.price {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

.up {
    color: green;
}

.down {
    color: red;
}
