@font-face { font-family: Gotham; src: url('./components/static/fonts/Gotham-Bold.otf'); }
@font-face { font-family: Gotham; font-weight: bold; src: url('./components/static/fonts/Gotham-Black.otf')}
* {
  font-family: Gotham, sans-serif;


} 
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkblue;
  background-color: #0d0f40;
  width: 100%;
  height: 3%;
  

}

p {
  font-size: 90%;
}